* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

 	p {
 		column-count: 4;
 	}


 @media(max-width: 1200px) and (min-width: 800px){
 	p{
 		column-count: 3;
 	}

 	img{
 		width: 30%;
 	}
 }

@media(max-width: 800px){

	p {
		column-count: 1;
	}

	img{
		display: none;
	}
}